<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830787228544-g6ggfe1rug5ldio40eeomc65lsp419d7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830787228544-g6ggfe1rug5ldio40eeomc65lsp419d7</string>
	<key>API_KEY</key>
	<string>AIzaSyCKkuMQlrIm6MWuoJUnhXIrgABZ2wgpKv4</string>
	<key>GCM_SENDER_ID</key>
	<string>830787228544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skillPay.first</string>
	<key>PROJECT_ID</key>
	<string>skillpay-project</string>
	<key>STORAGE_BUCKET</key>
	<string>skillpay-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830787228544:ios:476bab41456d18a5dae765</string>
</dict>
</plist>